@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:ital,wght@0,200;1,100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mait-text-color:#FFFFFF;
}

img {
    width: 100%;
    display: block;
}
